p { /* Вибирає всі елементи абзацу <p>. */
    font-size: 20px; /* Встановлює розмір шрифту на 20 пікселів */
    color: rgb(34, 26, 26); /* Встановлює колір тексту на темно-коричневий */
    text-align: center; /* Вирівнює текст по центру */
    font-style: inherit; /* Успадковує стиль шрифту від батьківського елемента */
}

a[href*="/index.html"] {
    color: rgb(11, 2, 168); /* Встановлює колір тексту на зелений для всіх посилань, що містять "index.html" в div, href */
    font-size: 23px; /* Встановлює розмір шрифту на 20 пікселів */
}

.pressed-button {
    text-decoration: none; /* Відміняє стандартне підкреслення посилань */
    display: inline-block; /* Встановлює елемент як блочний з можливістю розміщення на одній лінії з іншими елементами */
    padding: 12px 40px; /* Встановлює внутрішні відступи: 12 пікселів зверху і знизу, 40 пікселів зліва і справа */
    margin: 10px 20px; /* Встановлює зовнішні відступи: 10 пікселів зверху і знизу, 20 пікселів зліва і справа */
    border-radius: 30px; /* Задає округлення кутів з радіусом 30 пікселів */
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%); /* Встановлює градієнтний фон з кутом 45 градусів */
    background-position: 100% 0; /* Початкова позиція фону на 100% по горизонталі і 0% по вертикалі */
    background-size: 200% 200%; /* Розмір фону вдвічі більший за розмір елемента */
    font-family: 'Montserrat', sans-serif; /* Встановлює шрифт Montserrat, якщо він доступний, і sans-serif як запасний варіант */
    font-size: 24px; /* Встановлює розмір шрифту на 24 пікселя */
    font-weight: 300; /* Встановлює товщину шрифту на 300 (тонкий) */
    color: white; /* Встановлює колір тексту на білий */
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35); /* Встановлює тінь навколо кнопки з розмиттям */
    transition: .5s; /* Встановлює тривалість переходу для всіх змін елементу на 0.5 секунди */
}
.pressed-button:hover {
    box-shadow: 0 0 0 0 rgba(0, 40, 120, 0); /* Відміняє тінь при наведенні курсора */
    background-position: 0 0; /* Змінює позицію фону при наведенні курсора */
}

body {
    text-align: center;
}

body > p {
    background-color: rgb(12, 184, 219);
    font-size: 33px;
}

div {
    text-align: left;
}